/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 600px;
}

#results img {
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 10px;
}
